@font-face {
  font-family: DanaYadAlefAlefAlef-Normal;
  src: url("assets/fonts/DanaYadAlefAlefAlef/DanaYadAlefAlefAlef-Normal.otf")
    format("opentype");
}

* {
  margin: 0px;
  font-family: "DanaYadAlefAlefAlef-Normal", sans-serif;
  direction: rtl;
}

body {
}

:root {
  --pink: rgb(233, 128, 193);
  --secondColor: crimson;
}

.container {
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
