.cardInfo {
  margin: 15px;
  height: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.cardInfo > h3,
h4 {
  /* text-align: right; */
}

.cardInfo > h4 {
  /* margin-top: 10px; */
  color: rgb(192, 189, 189);
}

.buyArea {
  justify-self: flex-end;
}
