.buyArea_container {
  display: flex;
  margin-top: 35px;
}

.buyArea_container > button {
  background-color: var(--pink);
  height: 25px;
  border: none;
  color: white;
  font-size: 16px;
  cursor: pointer;
  border-radius: 20px;
  justify-content: space-around;
  margin-right: 20px;
}

.buyArea_container > h3 {
  color: var(--pink);
}
