.container {
  cursor: pointer;
  margin-top: -20px;
}

.cartIcon {
  width: 45;
  height: 45;
  position: absolute;
}

.totalQuantity {
  margin-right: -5px;
  margin-top: -5px;
  color: white;
  background-color: red;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}
