.header_container {
  background-image: url("/src/assets/mainCake.jpg");
  height: 50vh;
  background-repeat: no-repeat, repeat;
  background-size: cover;
  justify-content: center;
  align-items: center;
  display: flex;
}

h1 {
  color: white;
  font-size: 3em;
}
