.navBar .navigation {
  display: none;
}

.navBar nav ul {
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 50px;
  right: 0;
  background: white;
  padding-inline-start: 30px;
  padding-inline-end: 30px;
}

.navBar nav ul li {
  display: inline-block;
  margin: 1.5vw;
}

.navBar nav ul li a {
  text-decoration: none;
  color: black;
}

.navBar nav ul li:hover a {
  color: var(--secondColor);
}

.navBar .mobileNavigation .hamburger {
  position: absolute;
  right: 10%;
  top: 30%;
  cursor: pointer;
}

/* Media Query For Tablet */
@media only screen and (min-width: 768px) {
  .hamburger {
    display: none;
  }

  .navBar .mobileNavigation {
    display: none;
  }

  .navBar .navigation {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .navBar nav ul {
    display: flex;
    flex-direction: row;
    position: static;
  }

  .navBar nav ul li a {
    font-size: 2rem;
    font-weight: 600;
    letter-spacing: 0.2rem;
    text-decoration: none;
    color: black;
    text-transform: uppercase;

    display: block;
  }

  .navBar nav ul li:hover a {
    color: var(--secondColor);
  }
}
