.about {
  flex-direction: column-reverse;
  text-align: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 100px 20px;
}
.colLeft {
  width: 250px;
  height: 360px;
}
.colRight {
  width: 100%;
}
.colRight h2 {
  font-size: 2rem;
  font-weight: 600;
  letter-spacing: 0.2rem;
  margin-bottom: 10px;
}
.colRight p {
  margin: auto;
  margin-bottom: 20px;
  width: 80%;
}
.colRight .cta {
  color: black;
  margin-bottom: 50px;
  padding: 10px 20px;
  font-size: 2rem;
}
.colLeft .about-img {
  height: 100%;
  width: 100%;
  position: relative;
  border: 10px solid white;
}
.colLeft .about-img::after {
  content: "";
  position: absolute;
  left: -33px;
  top: 19px;
  height: 98%;
  width: 98%;
  border: 7px solid var(--secondColor);
  z-index: -1;
}

.myImage {
  margin-top: 30px;
  margin-bottom: 30px;
  border-radius: 50%;
  width: 225px;
  height: 250px;
  object-fit: none;
}
