.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.emptyCart {
  text-align: center;
}

.header {
  background-color: black;
  color: white;
  width: 300px;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.carts {
  height: 65vh;
  overflow: auto;
}

@media only screen and (min-width: 768px) {
  .carts {
    height: 70vh;
  }
}
