@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap");

* {
  margin: 0px;
  font-family: "Rubik", sans-serif;
  direction: rtl;
}

body {
  background-color: rgb(247, 204, 231);
}

:root {
  --pink: rgb(233, 128, 193);
}
